{% extends 'layout_sidebar.html.twig' %}

{% block title %}
	{{ 'My History'|trans }}
{% endblock %}

{% block content %}
	<div class="space-y-4">
		{{ component('PostHistory') }}
	</div>

{% endblock %}
