{% extends 'layout_sidebar.html.twig' %}

{% block title %}
	{{ 'Generate a new post' | trans }}
{% endblock %}

{% block content %}
	<div class="space-y-4">
		{{ component('PostGenerator') }}
	</div>
{% endblock %}
