{% extends 'layout_sidebar.html.twig' %}

{% block title %}
	{{'Account settings' | trans}}
{% endblock %}

{% block content %}
	<div class="space-y-4">
		{{ component('UserProfile', {initialFormData: app.user}) }}

		<hr>

		{{ component('EmailUpdate', {initialFormData: app.user}) }}

	</div>
{% endblock %}
